<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="5.0.0" targetFramework="net45" />
  <package id="EPPlus" version="4.1.0" targetFramework="net45" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.23" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="System.Threading.Tasks.Dataflow" version="4.6.0" targetFramework="net45" />
</packages>